<section class="home-subscribe" aria-label="Email updates">
  <p class="home-subscribe-text">Get an email when a new post is published.</p>
  <form action="https://buttondown.com/api/emails/embed-subscribe/justincamilleri" method="post" class="home-subscribe-form">
    <label class="sr-only" for="bd-email">Email</label>
    <input
      id="bd-email"
      type="email"
      name="email"
      placeholder="Email address"
      autocomplete="email"
      required
    />
    <input type="hidden" value="1" name="embed" />
    <button type="submit">Subscribe</button>
  </form>
</section>
