<section class="home-subscribe">
  <h2>Updates</h2>
  <p>If you would like to be notified when a new article is published, you may leave your email address below. Messages are limited to new posts only.</p>

  <form
    action="https://buttondown.com/api/emails/embed-subscribe/justincamilleri"
    method="post"
    class="home-subscribe-form"
  >
    <label for="bd-email">Email</label>
    <input
      id="bd-email"
      type="email"
      name="email"
      placeholder="you@example.com"
      required
    />
    <input type="hidden" value="1" name="embed" />
    <button type="submit">Subscribe</button>
  </form>
</section>